{% extends "ex01/base.html" %}

{% block title %}Ex01 : Processus d’affichage d’une page statique.{% endblock %}

{% block style %}
body { margin: 0;   font-family: sans-serif; }
{% endblock %}

{% block content %}
<h2>Processus d’affichage d’une page statique.</h2>
Django est un framework web open source en Python. Il a pour but de rendre le développement d'applications web simple et basé sur la réutilisation de code.<br/> Développé en 2003 pour le journal local de Lawrence (État du Kansas, aux États-Unis), Django a été publié sous licence BSD à partir de juillet 2005.<br/>

Depuis juin 2008, la Django Software Foundation s'occupe du développement et de la promotion du framework. En plus de cette promotion régulière, des conférences entre développeurs et utilisateurs de Django sont organisées deux fois par an depuis 2008. Nommées DjangoCon, une se déroule en Europe et l'autre aux États-Unis.

Plusieurs sites grand public sont désormais fondés sur Django, dont Instagram au moins en 2011, Mozilla ou encore Disqus et Clubhouse. 

{% endblock %}