{% extends "ex02/base.html" %}
{% block title %}Ex02: Form{% endblock %}
{% block content %}
<center>
<h1 style = "margin-left:4%;">{{title}}</h1>
<form name = "form" method="post">{% csrf_token %}
    <div style = "max-width:470px;">
            <center> 
            {{form.text}}
            </center>
    </div>
    <div style = "max-width:470px;">
        <center> 
            
            <button 
                style = "border:0px; background-color:#4285F4; margin-top:8%;
                height:35px; width:90%;margin-left:19%;" type = "submit" 
                value = "Login"
            >
                <strong>Login</strong>
            </button>
               
        </center>
    </div>   
</form>
<h2 style = "margin-left:4%;">Historique</h2>
    {%if logs%}
    {%for log in logs%}
    <div>
        <p>{{log}}</p>
    </div>
{%endfor%}
{%endif%}
</center>

{% endblock %}