{% extends "base.html" %}
{% block title %}djangoAdvanced: Display{% endblock %}
{%block content%}
<center> 
<table>
    <tr>
    {%for header in headers%}
        <th>{{header}}</th>
    {%endfor%}
    </tr>
    {%for item in articles_objects%}
    <tr>
        <td style="height: 40px; width: 80px;"><a href="{% url 'detail' item.id %}">{{item.id}}</a></td>
        <td style="height: 40px; width: 80px;">{{item.title}}</td>
        <td style="height: 40px; width: 80px;">{{item.author}}</td>
        <td style="height: 40px; width: 80px;">{{item.created}}</td>
        <td style="height: 40px; width: 80px;">{{item.synopsis}}</td>
    </tr>
    {%endfor%}
</table>
</center>
{%endblock%}