{% extends "chat/base.html" %}
{% block title %}Create a chatroom{% endblock %}
{% block style%} {% endblock %}
{%block content%}
<br> 
<center>
    {% if user.is_authenticated %}
    <form id="chat-form">
        <textarea id="chat-log" cols="100" rows="20"></textarea><br>
        <input id="chat-message-input" type="text" name="content" size="100"><br><br>
          <button id="chat-message-submit" type="submit" class="btn btn-primary">Send</button>
    </form>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
            if (data.messages && data.messages.length > 0) {
            data.messages.forEach(msg => {
                document.querySelector('#chat-log').value += msg + '\n';
            });

        };
    }
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        const chatForm = document.querySelector('#chat-form');
        const messageInputDom = document.querySelector('#chat-message-input');

        messageInputDom.focus();

        chatForm.addEventListener('submit', function(e) {
            e.preventDefault();

            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            if (message.trim() === '') {
                return;
            }

            chatSocket.send(JSON.stringify({'message': message}));
            messageInputDom.value = '';
        });
    </script>
    {% else %}
    <h2>No user logged!</h1>
</center>
{%endif%}
{%endblock%}