{% extends "ex03/base.html" %}
{% block title %}Ex03: Gradient{% endblock %}
{% block content %}
<center>
    <h1 style="margin-left:4%;">{{ title }}</h1>
    <table>
        <tr>
            <th>Black</th>
            <th>Red</th>
            <th>Blue</th>
            <th>Green</th>
        </tr>
        {%for row in table%}
        <tr>
            {%for cell in row%}
            <td style="height: 40px; width: 80px; background:{{cell}};"></td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
    
</center>
{% endblock %}